<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit chat</title>
</head>
<body>
    <p>Edit your chat! <%=chat.id%></p>
    <p>This chat was sent from <b><%chat.from%> to <b><%=chat.to %></b></b></p>

    <form action="">
        <textarea name="msg" ><%= chat.msg %></textarea>
        <button>save</button>
    </form>
</body>
</html>